:root.theme-light {
  --theme-color: #ff8dcb;
  --background-image: url(../images/cover-image-light.png);
  --decorated-zone-color:#353430;
  --button-hover-color: #32312d66;
  --button-text-color: #353430;
  --focus-color: #ffc2e6;
  --title-text-color: #353430;
  --text-color: #353430;
  --visibility: none;
  --block-title-text-color:#353430;
}







